/* APPLE PRINT & CREATIVE //////////////////////////////////////////////////////////////////////////////////////////////////
// UPSCALE TEMPLATE ////////////////////////////////////////////////////////////////////////////////////////////////////////
// SITE: NAME OF SITE //////////////////////////////////////////////////////////////////////////////////////////////////////
// DEV: JAMES DOUGLAS //////////////////////////////////////////////////////////////////////////////////////////////////////
// BUILD: 2015 /////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////.d888888////////////////////dP//////////////888888ba///////////oo////////////dP//////dP////////d888888P/888888ba///////
////d8'////88////////////////////88//////////////88////`8b////////////////////////88//////88///////////88////88////`8b//////
////88aaaaa88a/88d888b./88d888b./88/.d8888b.////a88aaaa8P'/88d888b./dP/88d888b./d8888P////88///////////88////88/////88//////
////88/////88//88'//`88/88'//`88/88/88ooood8/////88////////88'//`88/88/88'//`88///88//////88///////////88////88/////88//////
////88/////88//88.//.88/88.//.88/88/88.//.../////88////////88///////88/88////88///88//////88///////////88////88////.8P//////
////88/////88//88Y888P'/88Y888P'/dP/`88888P'/////dP////////dP///////dP/dP////dP///dP//////88888888P////dP////8888888P///////
///////////////88///////88//////////////////////////////////////////////////////////////////////////////////////////////////
///////////////dP///////dP//////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*
.keyframeExample {
-webkit-animation: keyframeExample 1s linear infinite;
animation: keyframeExample 1s linear infinite;
-moz-animation: keyframeExample 1s linear infinite;

-webkit-transition: left 500ms ease;
-moz-transition: left 500ms ease;
-o-transition: left 500ms ease;
transition: left 500ms ease;
}

@-webkit-keyframes keyframeExample {0% {}50% {}100% {}}
@-moz-keyframes keyframeExample {0% {}50% {}100% {}}
@keyframes keyframeExample {0% {}50% {}100% {}}

.flexBoxExample {
display: flex;
display: -webkit-flex;
-webkit-box-pack: start;
flex-direction: row;
-webkit-flex-direction: row;
flex-wrap: wrap;
-webkit-flex-wrap: wrap;
align-content: center;
-webkit-align-content: center;
justify-content: space-between;
-webkit-justify-content: space-between;
align-items: center;
-webkit-align-items: center;
}*/
{
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
  background: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(12, 12, 65);
  margin:0;
  background-position-y: 60px;
  color:#fff;
  font-family:arial;
  overflow:hidden;
}

header{
  border-top: 20px solid black;
  height: 50px;
  background: #000;
  display: block;
  width: 100%;
}
ul {
  padding-left: 30px;
  padding-right: 10px;
}
/* Portrait layout (default) */
.app {
    background:url(../img/logo2.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}


h1 {
}

.image100 {width: 80%;padding-left: 10%;position: relative;}
.paddingContainer{margin:0px 10%;}
.appContainer {
  margin: 0;
  width: 100%;
  top: 0;
}
.main,.container {
  height: 100%;
}
.netAppyLogo {margin: 10vmin 0px;}
@media only screen and (max-device-width: 320px){.netAppyLogo {margin: 5vmin 0px;}}
label {display: none;float: left;color: #fff;font-family: arial;height: 50px;line-height: 50px;}
input {background-color: #555;border: none;border-radius: 3px;height: 50px;width: 80%;padding: 0;color: #fff;margin: 5px 0px;font-size: 18px;padding-left: 20%;}
button{cursor: pointer;}
.iconBeforeInput {position: absolute;top: 5px;left: 0;font-size: 25px;z-index: 1;color: #fff;text-align: center;width: 45px;height: 50px;line-height: 50px;opacity: 0.5;}
.loginForm div, .recoveryForm div{position:relative;}
.loginForm p{color: #c0c0c0;font-weight: 100;font-family: arial;float: left;}
.flipH{-moz-transform: scaleX(-1);-o-transform: scaleX(-1);-webkit-transform: scaleX(-1);transform: scaleX(-1);filter: FlipH;-ms-filter: "FlipH";}
.loginform .checkbox{display: inline-block;}
.submitLoginFormData {
    width: 100%;
    height: 50px;
    border-radius: 3px;
    border: 0;
    background-color: rgb(194, 213, 45);
    margin-top: 5px;
    font-size: 18px;
}
.recoverYourPassword{width: 100%;height: 50px;border-radius: 3px;border: 0;background-color: rgb(194, 213, 45);margin-top: 5px;font-size: 18px;}
.registerForm div {position: relative;}
form.loginForm {position: relative;}
.bypasslogin{display:none;}
.bypasslogin, .logOut {clear: both;float: left;position: relative;  display: none;}
.navigateBack {
  color: #fff;
  font-size: 30px;
  width: 60px;
  height: 50px;
  position: absolute;
  opacity: 0.5;
  left: 0;
  text-align: center;
  line-height: 54px;
  display:none;
}
.loginForm>i {color: rgb(194, 213, 45);font-size: 40px;position: relative;width: 50px;height: 80px;display: block;right: 0;line-height: 80px;text-align: center;}
.checkboxtoggle.fa-toggle-off{color: #555;}
.checkboxtoggle {
  color: rgb(194, 213, 45);
  font-size: 35px !important;
  float: right;
  cursor: pointer;
  padding-top: 22px;
}
select.languageSelector {
  margin-bottom: 0;
  width: calc(100% - 50px);
  height: 50px;
  border-radius: 3px;
  border: 0;
  background-color: #555;
  margin-top: 10px;
  font-size: 18px;
  color: #fff;
  display:none;
}
form>.flag-icon {
    width: 35px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    top: 10px;
    margin: 5px;
    display:none;
}
.settingsMenu .languageSelector {
    background: none;
    border: 1px solid #fff;
    border-radius: 0 !important;
    padding: 0;
    top: 0;
    height: 40px;
    margin-bottom: 20px;
    display: inline-block;
    display: none;
}

.settingsMenu .flag-icon {
    display: inline-block;
    width: 35px;
    height: 40px;
    display: inline-block;
    vertical-align: top;
    top: 5px;
    margin: 5px;
    display: none;
}
.loginForm>p {margin: 30px 0px;}
.ui-loader{display:none;}
.loginOptions {margin: 0;padding: 0;position: relative;width: 100%;clear: both;display: block;left: 0;}
.loginOptions li {width: 49%;display: inline-block;list-style: none;clear: both;height: 50px;vertical-align: top;color: #c0c0c0;text-align: center;font-size: 12px;}
.flexAlignCenter {display: flex;display: -webkit-flex;-webkit-box-pack: start;flex-direction: row;-webkit-flex-direction: row;flex-wrap: wrap;-webkit-flex-wrap: wrap;width: 100%;align-content: center;-webkit-align-content: center;justify-content: center;-webkit-justify-content: center;align-items: center;-webkit-align-items: center;height: 100%;}
.loginOptions a {text-decoration: none;color: #c0c0c0;cursor: pointer;}
.actionButtons .noSecondaryButton {width: 100% !important;background-color: #fff !important;z-index: 16;display: block;position: relative;border-radius: 9px;}
.createAccount{cursor: pointer;}
.createAccountForm{width: 100%;height: 50px;border-radius: 3px;border: 0;background-color: rgb(194, 213, 45);margin-top: 5px;font-size: 18px;}

/*main Menu */
.menuIcon {
width: 40px;
height: 40px;
display: inline-block;
left: 5px;
position: relative;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-o-transform: translateY(-50%);
}

.createAccount::before {
content: "";
width: 1px;
height: 50px;
background: #a1a1a1;
position: absolute;
left: 50%;
margin-left: -2px;
margin-top: -10px;
}

.sections>li>i,.childSections>li>i {
right: 10px;
font-size: 20px;
float: right;
color: #fff;
position: relative;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-o-transform: translateY(-50%);
}
.menuTextLocator{
position: relative;
top: 50%;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-o-transform: translateY(-50%);
}
ul.sections {
margin: 0;
padding: 0;
background-color: rgb(193, 214, 45);
height: 100%;
}
.childSections {
margin: 0;
padding: 0;
background:none;
height: 100%;
}
.socialStrip, .actions{
background-color: #000;
height: 50px;
position: fixed;
bottom: 0;
width: 100%;
font-size: 35px;
/*  display: none;*/
}
.sections li {
height: 12.5%;
display: block;
position: relative;
}
.sections li::after {content: "";height: 1px;width: 100%;background-color: #d2e43a;position: absolute;bottom: 0;left: 0;}
.actions{display:none;}
.grandparentReturn{background-color: rgb(193, 214, 45);}
.socialStrip a {height: 50px;line-height: 50px;width: 40px;text-align: right;display: inline-block;position: relative;vertical-align: top;color: #FFF;}
.actions a {height: 50px;line-height: 50px;width: 40px;text-align: right;opacity: 0.5;display: inline-block;position: relative;vertical-align: top;color: #fff;background: none;font-size: 35px;margin: 0;}
.socialStrip a.mailUs {float: right;text-align: left;color: #fff;}
.appContainer{position: absolute;top: 70px;z-index: 100000000;}
.contentContainer{width: 100%;/*  position: absolute;top: 70px;*/display: block;z-index: -1;overflow: scroll;}
.childSections .listParent::after {content: "";height: 1px;width: 100%;background-color: #5b5b96;position: absolute;bottom: 0;left: 0;}
.calendarContainer .childSections .listParent::after {background-color: #eee;}
.contentContainer ul li {height: 12.5%;display: block;position: relative;}
.childSections .listParent:first-child {background-color: rgb(193, 214, 45);}
.listGrandParentAnchor i, .grandparentReturn i, .listParent i, .dealreglink i{right: 10px;font-size: 20px;float: right;color: #fff;position: relative;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-o-transform: translateY(-50%);}
.listGrandParentAnchor p,.grandparentReturn p,.listParent p {position: absolute;top: 50%;left: 50px;font-size: 12px;color: #fff;margin-top: 0px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 67%;}
.listParent p {padding: 0;margin: 0;font-size: 12px;position: absolute;top: 50%;left: 10px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: 81%;}
.thirdLevelContainer .listParent p {font-size: 10px;white-space: normal;}
.contentContainer ul {margin:0;padding:0;}
.listParent h2{position: absolute;top: 50%;left: 10px;/*  height: 15px;*/font-size: 13px;margin-top: -15px;color: #fff;font-weight: bold;}
.listParent>.listGrandParentAnchor p,.listGrandParentAnchorReturn p,.listGrandParentAnchorReturn h2,.listChild p,.listChild h2{left: 50px;width: 68%;height: 65%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.postContainer .listParent {position: relative;}
.listGrandParentAnchor h2,.grandparentReturn h2, .dealreglink h2{position: absolute;top: 50%;left: 50px;height: 15px;font-size: 14px;margin-top: -15px;color: #fff;font-weight: bold;}
.muted{opacity:0.5;}
.loadMore p{text-align: center;position: relative;margin: 0;display: block;top: 50%;transform: translateY(-50%);-webkit-transform: translateY(-50%);-moz-transform: translateY(-50%);-o-transform: translateY(-50%);padding: 0;border-radius: 2px;}
.loadMore {background-color: rgb(0, 0, 55);}
.loadMore i {font-size: 20px;position: relative;}
.contentContainer ul li.hidden{display:none;}
.postInner {color: #333;min-height: calc(100% - 50px);margin-bottom: -16px;  padding-bottom: 10px;  overflow: hidden;  position: relative;}
.postInner::after {height: 100%;width: 100%;position: absolute;background-color: #fff;display: block;content: "";top: 0;left: 0;z-index: -2;}
.postInner p {padding: 0px 10px;font-size: 14px;}
.postContainer>ul>li {height: 50px;}
.postContainer {overflow-y: auto;position: absolute;top: 70px;z-index: 1000;width:100%;}
.listParentReturn .listParent {display: block;overflow: hidden;background-color: rgb(193, 214, 45);position: fixed;width: 100%;z-index: 1000000000;}
.listParentReturn {margin: 0;padding: 0;height: 50px;}
.menuButton a,.settings a {color: #fff;font-size: 40px;width: 60px;height: 50px;position: relative;display: block;left: 0;text-align: center;line-height: 50px;}
.postThumbnail {height: 34vmin;}
.shareOnFacebook, .shareOnTwitter, .shareOnLinkedin {position: relative;top: 50%;font-size: 50px;display: inline-block;left: 0;width: 70px;text-align: center;color: #fff;}
.socialModalIcons {text-align: center;top: 50%;position: absolute;left: 0;width: 100%;}
.socialModal p {position: absolute;top: 40%;width: 100%;text-align: center;}
.contactMyBdm, .visitSiteLink,.addPostEvent,.addFullEvent,.registerForEvent,.promotionsFindOutMore {height: 44px;background-color: rgb(193, 214, 45);display: block;width: 140px;font-size: 14px;margin: 5px;line-height: 44px;color: #333;text-decoration: none;text-align: center;border-radius: 2px;}
.contactMyBdm {text-align: center;left: 50%;position: relative;width: 180px;margin-left: -90px;}
.actions{display:none !important;}
.visitSiteLink i,.addPostEvent i,.addFullEvent i,.registerForEvent i{color:#fff;}
.additionalLinks{display: flex;display: -webkit-flex;-webkit-box-pack: start;flex-direction: row;-webkit-flex-direction: row;flex-wrap: wrap;-webkit-flex-wrap: wrap;align-content: center;-webkit-align-content: center;justify-content: center;-webkit-justify-content: center;align-items: center;-webkit-align-items: center;}
.closeSocialModal {font-size: 40px;height: 50px;width: 60px;position: absolute;top: 20px;right: 0;color: #fff;text-align: center;line-height: 50px;}
.menuButton, .settings {width: 60px;display: inline-block;height: 50px;}
.menuButton{display:none;}
.settings {position: absolute;right: 0;top: 0;}
.hidden{display:none;}
header {position: relative;z-index: 1000000000000;}
#map-canvas {width: 100%;height: 300px;}
.push, .logOff, .pullUserData,.loadMyBdm {height: 40px;line-height: 40px;width: 100%;display: block;border: 1px solid;color: #fff;text-align: center;margin-bottom: 10px;text-decoration: none;border-radius:4px;}
.postThumbnail::before {content: "";font-family: fontawesome;background-color: #484943;width: 100%;display: block;height: 100%;line-height: 34vmin;z-index: -1;text-align: center;font-size: 20vmin;position: relative;color: #616161;}
.checkboxtoggle {padding-top: 0;}
.myBdmMenu .postThumbnail {background: none!important;}
.myBdmMenu .postThumbnail::before {content: "";background-color: #484943;width: 100%;display: block;height: 100%;z-index: -1;text-align: center;position: relative;}
.listGrandParentAnchorReturn,.listGrandParentAnchor, .dealreglink {display: block;width: 100%;height: 100%;}
.appLogos img:nth-child(2) {float: left;}
.listGrandParentAnchor >div, .dealreglink>div {float: none;text-align: center;}
.menuIcon>i {width: 100%;left: 0;font-size: 23px;  text-align: center;}
.listGrandParentAnchor .menuTitleSpacing {margin-top: -7.5px;}
.listGrandParentAnchorReturn>.menuTitleSpacing {height: auto;margin-top: -7.5px;}
a>.menuTitleSpacing {margin-top: -7.5px;  width: 85%;}

/* ------------------------------------------ */
/* PreButtons ------------------------------- */
/* ------------------------------------------ */
.appLogos img {height: 40px;left: 0;top: 5px;float: right;padding: 0px 10px;}
.prelaunchButtons {width: 100%;height: 50px;z-index: 1000000000;background-color: #000;position: relative;top: 0px;}
/* ------------------------------------------ */
/* Settings --------------------------------- */
/* ------------------------------------------ */
.settingsMenu {display: none;position: absolute;top: 70px;width: 90%;padding: 0 5%;z-index: 100000000;font-size: 12px;background-color: #0171BA;  height: calc(100% - 70px) !important;}
.settingsUserName, .settingsEmailAddress, .myBdmName, .myBdmEmail {float: right;font-weight: bold;}
/* ------------------------------------------ */
/* Fourth Level ----------------------------- */
/* ------------------------------------------ */
.fourthLevelContainer{display:none;}
/* ------------------------------------------ */
/* Promotions ------------------------------- */
/* ------------------------------------------ */
.promotionsTopBar {background-color: #ECECEC;height: 70px;display: table;width: 100%;}
.promotionsAvTo, .promotionsValTo, .promotionsValFrom {width: 33%;display: table-cell;height: 100%;font-size: 10px;text-align: center;vertical-align: middle;}
.postInner .promotionsTitles {font-weight: bold;padding: 0;margin: 5px;font-size: 12px;}
.promotionsDetails {font-size: 12px;font-weight: bold;padding: 20px 10px;}
.promotionsFindOutMore {left: 50%;position: relative;width: 80%;margin-left: -40%;margin-top: 30px;}
/* ------------------------------------------ */
/* Contact ---------------------------------- */
/* ------------------------------------------ */
.contactLogo {height: 60px;}
.contactParent {height: calc(35.4% - 28px) !important;}
.postContainer .reducedProfile {display: none;}
.contactParent>a>h2 {top: 0;position: relative;padding-top: 15px;margin: 0;left: 0;padding-left: 10px;}
.contactParent i {top: 50%;position: absolute;/*transform: translateY(0%);-webkit-transform: translateY(0%);-moz-transform: translateY(0%);-o-transform: translateY(0%);*/}
.contactLogo {height: 60px;position: relative;left: 10px;top: 30px;}
.contactParent p {left: 0;position: relative;padding-left: 10px;top: 0;}
.contactAnchor {height: 100%;display: block;position: relative;  text-decoration: none;}
.thirdLevelContainer,.fourthLevelContainer {width: 100%;display: block;z-index: 500;overflow: scroll;position: absolute;top: 70px;display:none;}
.thirdLevelContainer ul,.fourthLevelContainer ul {margin: 0;padding: 0;}
.thirdLevelContainer ul li,.fourthLevelContainer ul li {height: 12.5%;display: block;position: relative;}
.thirdLevelContainer>.childSections>.listParent>p, .thirdLevelContainer>.childSections>.listParent>h2,.fourthLevelContainer>.childSections>.listParent>p, .fourthLevelContainer>.childSections>.listParent>h2  {display: none;}
.thirdLevelContainer img, .fourthLevelContainer img {top: 10%;height: 80%;}
.postContactHeadshot img {width: 100%;}
.postContactHeadshot {width: 35vmin;overflow: hidden;height: 35vmin;border-radius: 35vmin;top: 15vmin;left: 20px;border: 2px solid #ECECEC;position: absolute;}
.postContactName h4 {margin-left: 50%;font-size: 12px;margin-top: 0;padding-top: 15px;margin-bottom: 0;}
.postContactName p {position: relative;left: 50%;font-size: 10px;margin: 0;padding-top: 5px;padding-left: 0;padding-bottom: 20px;width: 150px;}
.postContactName {background-color: #ECECEC;height: 20vmin;}
/* ------------------------------------------ */
/* Enablements ------------------------------ */
/* ------------------------------------------ */
.thirdLevelContainer>.childSections>.enablementsThirdLevel>p, .thirdLevelContainer>.childSections>.enablementsThirdLevel>h2 {display: block;}
.enablementsThirdLevel img {top: 50%;height: 40px;}
/* ------------------------------------------ */
/* eShots ----------------------------------- */
/* ------------------------------------------ */
.eshot li {list-style: none;position: relative;padding-bottom: 10px;width: 98%;font-size: 14px;}
.eshot li::before {content: "\f105";font-family: fontawesome;color: rgb(193, 214, 45);position: absolute;left: -10px;}
/* ------------------------------------------ */
/* DataSheets ------------------------------- */
/* ------------------------------------------ */
.customFieldDatasheets {margin: 0;padding: 0;}
.customFieldDatasheets li {border-bottom: 1px solid #eee;height: 50px;display: table;width: 100%;}
.customFieldDatasheets p {width: 50%;height: 100%;padding-left: 10px;text-decoration: none;color: #333;font-size: 12px;padding-right: 0;display: table-cell;vertical-align: middle;}
.dataSheetAnchor, .dataSheetShareAnchor{width: 10%;height: 100%;text-decoration: none;color: #333;font-size: 25px;padding-right: 0;text-align: center;display: table-cell;vertical-align: middle;}
/* ------------------------------------------ */
/* MYBDM ------------------------------------ */
/* ------------------------------------------ */
.myBdmMenu{display: none;overflow-y: auto;position: absolute;height: calc(100% - 70px);top: 70px;z-index: 1000000000000;width: 100%;}
/*.myBdmMenu .postInner{overflow-y: auto;}*/
.myBdmMenu .listParentReturn .listParent{width: 100%;height: 50px;}
.bdmcontactparent>a>h2 {padding-top: 0px;margin: 0px;position: absolute;top: 50%;margin-top: -7px;}
.mybdmlistlauncher {background-color: rgb(1, 113, 186);}
.childSections .mybdmlistlauncher::after {background-color: #003B61;}
/* ------------------------------------------ */
/* TABS ------------------------------------- */
/* ------------------------------------------ */
.tabPanel{display:none;}
.tab1{display:block;}
.tabPanel {width: 100vw;}
.tabTitle {display: inline-block;text-align: center;background-color: #f5f5f5;position: relative;width: 50%;}
.tabSelected::after {content: "";background-color: #fff;height: 20px;width: 20px;position: absolute;left: 50%;bottom: -12px;margin-left: -10px;transform: rotate(45deg);-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);}
.netHappyLogo {  position: absolute;top: 9px;left: 50%;width: 90px;margin-left: -45px;}
.tabPanel h5 {padding-left: 10px;font-size: 12px;margin-top: 20px;position: relative;z-index: 20;margin-bottom: 0;}
.tabPanel h6 {padding-left: 10px;font-size: 11px;margin-top: 2px;font-weight: normal;margin-bottom: 0;}
.tabTitle:first-child::before {content: "";width: 2px;background: #fff;height: 100%;position: absolute;right: 1px;top: 0;z-index: 100000000;}
.collateralInner .tabTitle {width: 25%;height: 60px;vertical-align: top;text-align: center;}
/* ------------------------------------------ */
/* CALENDAR --------------------------------- */
/* ------------------------------------------ */
.calendarContainer{background:#fff;}
.calendarContainer .listParentAnchor h2 {color: #333;font-weight: normal;width: 70%;padding-left: 40px;font-size: 12px;}
.calendarContainer .listParentAnchor .fa-chevron-right {color: rgb(193, 214, 45);}
.listParentAnchor .listCalendarIcon {float: left;color: rgb(193, 214, 45);right: auto;left: 10px;font-size: 30px;}
.listCalendarIcon::after {content: "+";position: absolute;top: 10px;left: 0px;font-size: 18px;width: 100%;font-weight: bolder;text-align: center;}
.contentContainer ul .listCalendar {height: auto;background-color: #f5f5f5;}
.ui-datepicker-prev, a.ui-datepicker-next {background: rgb(255, 255, 255);height: 40px;display: inline-block;width: 100px;text-align: left;padding-left: 10px;line-height: 40px;font-size: 16px;color: rgb(193, 214, 45);}
.ui-state-hover {background-color: rgb(193, 214, 45);color: #fff;height: 31px;}
th {width: 44px;height: 44px;color: #333;font-size: 12px;text-align: center;}
td a {text-decoration: none;color: #333;display: block;height: 100%;width: 100%;padding-top: 4px;z-index: 2;position: relative;}
.ui-datepicker-today a {color: #fff;}
.ui-datepicker-year{display:none;}
td {height: 35px;margin: 0;vertical-align: text-top;text-align: center;display: inline-block;width: 14%;font-size: 12px;color: #ccc;border: none;position: relative;padding: 0;}
tr {border-bottom: 1px solid #E7E7E7;display: block;margin: 0;padding: 0;}
.ui-datepicker-week-end,.ui-datepicker-week-end a {color: #bbb;}
.ui-datepicker-unselectable>span {top: 4px;position: relative;}
.ui-datepicker-unselectable{color:#DBDBDB;}
table.ui-datepicker-calendar {width: 100%;border-spacing: 0;}
.ui-datepicker-next {float: right;text-align: right !important;padding-right: 10px;padding-left: 0;}
.ui-datepicker-header {height: 40px;background-color: #fff;}
.ui-datepicker-calendar>thead>tr {vertical-align: baseline;line-height: 21px;}
.ui-datepicker-title {position: absolute;text-align: center;width: 44px;left: 2px;top: 58px;color: #333;font-size: 12px;text-transform: uppercase;}
.ui-datepicker-today::before {content: "";background-color: rgb(80, 95, 126);height: 20px;width: 20px;position: absolute;z-index: 1;left: 13px;top: 1px;border-radius: 20px;}
.highlightCalDay::after {content: "";background-color: rgb(193, 214, 45);height: 8px;width: 8px;display: block;position: absolute;bottom: 5px;left: 50%;margin-left: -4px;text-align: center;border-radius: 8px;}
.settingsMenu p i{font-style: normal;}
/* ------------------------------------------ */
/* ALERT ------------------------------------ */
/* ------------------------------------------ */
.alert, .socialModal {position: fixed;width: 100%;height: 100%;display: none;background: rgba(0,0,0,0.8);top: 0;left: 0;z-index: 10000000000;}
.actionButtons {border-top: 1px solid #443;position: relative;}
.alertContainer {width: 80%;display: block;background-color: #fff;color: #333;border-radius: 6px;}
.actionButtons::after {content: "";width: 1px;height: 100%;position: absolute;left: 50%;top: 0;background-color: #333;}
.actionButtons button {border: none;background: none;width: 49%;height: 44px;font-size: 12px;font-weight: bold;display: inline-block;}
.alertIcon {font-size: 30px;text-align: center;margin: 15px 0px;opacity: 0.6;}
.alertButton {border: 0;background-color: #333;color: #fff;width: 90%;margin: 5%;height: 44px;position: relative;bottom: 0;}
.alertText {text-align: center;font-size: 14px;margin-bottom: 15px;padding: 0px 10px;}

.appError {font-size: 14px;}
.appError a {color: #fff;border: 1px solid #fff;height: 44px;line-height: 44px;display: inline-block;width: 50%;text-align: center;float: right;position: relative;text-decoration: none;top: -14px;border-radius: 4px;}
